.body {
    margin-top: 0px;
    padding: 0;
    width: 100%;

}

.header {
    background-color: rgb(172,225,175,.5);
    width: 100%;
}

.main{
    margin-top: 15px;
    margin-left: 15px;
}

.inputLabel {
    display: block;
}

input[type = text], input[type = checkbox], input[type = submit], select  {
margin-left: 5px;
}