.body {
    margin-top: 0px;
    padding: 0;
    width: 100%;

}

.inputLabel {
    display: block;
}

input[type = text], input[type = checkbox], input[type = submit], select  {
margin-left: 5px;
}

.profileHeader{
    background-color: green;
    display: flex;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
